.jumbotron {
  background-image: url('./images/escape.png');
  height: 700px;
  background-size: cover;
}

#welcome {
  background-image: url('./images/escape2.png');
  background-repeat: repeat;
  background-position: left top;
  text-align: center;
  height: 50%;
  width: 50%;
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 25px;
  border-style: ridge;
  border-color: red;
  padding: 75px 0;
}
#title {
  text-shadow: 3px 3px red;
  letter-spacing: 2px;
  color: white;
  font-weight: bolder;
  font-size: 50px;
}

#clickMe {
  border-radius: 10px;
  border-color: black;
  background-color: green;
  box-shadow: 2px 2px black;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#clickMe span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#clickMe span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#clickMe:hover span {
  padding-right: 25px;
}

#clickMe:hover span:after {
  opacity: 1;
  right: 0;
}

#room {
  border-right: solid;
  border-color: black;
  background-image: url("./images/room.png");
  
  height: 650px;
  background-repeat: no-repeat;
}

#timer{
  width: 100%;
}


.hover:hover {
  background-color: yellow;

}

#poster1 {
  border-style: solid;
  border-radius: 3px;
  border-color: black;
  width:50px;
  margin-left: 200px;
  margin-top: 10px;
  background-color: red;
  color: black;
  font-size: smaller;
}
#poster1:hover {
  background-color: yellow;
}
#table1 {
  border-style: solid;
  border-radius: 3px;
  border-color: black;
  width:50px;
  margin-left: 200px;
  margin-top: 25px;
  background-color: rgb(68, 26, 3);
  color: white;
}
#table1:hover {
  background-color: yellow;
  color: black
}

#circleTable {
  border-style: solid;
  border-radius: 25px;
  border-color: black;
  width:60px;
  height:60px;
  margin-left: 100px;
  background-color: rgb(70, 27, 4);
  color: white;
}
#circleTable:hover {
  background-color: yellow;
  color: black;
}

#littleBox {
  border-style: solid;
  border-color: black;
  width:50px;
  height:50px;
  margin-left: 300px;
  font-size: 14px;
  background-color: darkred;
  color: white;
}

#littleBox:hover {
  background-color: yellow;
  color: black;
}

#box1 {
  border-style: solid;
  border-color: black;
  width:60px;
  height:60px;
  margin-left: 300px;
  margin-top: 5px;
  background-color: darkred;
  color: white;
}

#box1:hover{
  background-color: yellow;
  color: black;
}

#bluePoster {
  border-style: solid;
  border-color: black;
  width:40px;
  height:70px;
  margin-left: 20px;
  background-color: blue;
  color: white;
}
#rotateText{
  transform: rotate(270deg);
  margin-left: 20px;
}
#bluePoster:hover {
  background-color: yellow;
  color: black;
}

#rug {
  border-style: solid;
  border-color: black;
  width:120px;
  height:70px;
  margin-left: 130px;
  background-color: lightslategray;
  color: black;
  justify-content: center;
  padding-top: 20px;
}

#rug:hover {
  background-color: yellow;
  color: black;
}

#desk {
  border-style: solid;
  border-color: black;
  width:60px;
  height:60px;
  margin-left: 77px;
  background-color: rgb(68, 26, 3);
  color: white;
  justify-content: center;
  padding-top: 10px;
  font-size: 11px;
  margin-top: 5px;
}

#desk:hover {
  background-color: yellow;
  color: black;
}

#picture {
  border-style: solid;
  border-color: black;
  width:60px;
  height:30px;
  margin-left: 77px;
  background-color: rgb(206, 22, 206);
  color: black;
  justify-content: center;
  padding-top: 3px;
  font-size: 13px;
}

#picture:hover{
  background-color: yellow;
  color: black;
}

#shelf {
  border-style: solid;
  border-color: black;
  width:80px;
  height:25px;
  margin-left: 200px;
  background-color: darkgoldenrod;
  color: black;
  justify-content: center;
  font-size: 13px;
}
#shelf:hover {
  background-color: yellow;
  color: black;
}
#door {
  /* border-style: solid;
 
  border-color: black; */
  width:56px;
  height:42px;
  margin-left: 320px;
}
#door:hover {
  background-color: lightgreen;
}



.hover:hover {
  background-color: yellow;

}